@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

/* Temas */
.bg-theme {
    @apply bg-brownEarth dark:bg-brownEarthStrong;
}

.text-theme {
    @apply text-brownEarthStrong dark:text-beige;
}

.title-theme {
    @apply text-brownEarthStrong dark:text-[#D1B48F];
}

.input-theme {
    @apply bg-beige bg-opacity-60 text-brownEarthStrong placeholder-brownEarthStrong dark:bg-opacity-30 dark:text-beige dark:placeholder-beige;
}